.taskAddContainer,
.addTaskDiv {
    align-self: center;
    margin: 1rem;
    width: 50%;


    button {
        background-color: rgb(229, 195, 0);
        color: black;
        padding: .6rem .6rem;
        border-radius: 1rem;
        border: none;
        font-weight: 600;
    }
}


.addTaskBtn {
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
}

.addTaskDiv.popup {
    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 .7rem rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.addTaskDiv.popup input,
.addTaskDiv.popup textarea,
.addTaskDiv.popup button {
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: .3rem;
    width: 100%;
    box-sizing: border-box;
}


.addTaskDiv.popup input {
    height: 4rem;
    font-size: 1.2rem;
}

.addTaskDiv.popup textarea {
    height: 12rem;
    font-size: 1.1rem;
}

.btnPopupDiv {
    display: flex;
    justify-content: space-between
}

.btnPopupDiv button {
    width: 40%;
    min-height: 3rem;
    margin-right: 1rem;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: .5rem;
}


.btnPopupDiv .popupAddBtn {
    background-color: blue;
}

.btnPopupDiv .popupCancelBtn {
    background-color: orangered;
    margin-right: 0;
}

@media (max-width: 420px) {
    .addTaskBtn {
        font-size: 1.2rem;
    }
}