article {
    width: 100%;
    border: 1px solid white;
    display: flex;
    margin: 0;
    padding: 0;
}

p, h3 {
    text-align: center;
    justify-self: center;
    align-self: center;
    margin-left: 1rem;
}

.taskDiv {
    align-self: center;
    margin-right: 0;
    margin-left: auto;
    
    button {
        margin: 0 1rem;
    }
}
