.taskItem {
    width: 100%;
    border: 1px solid white;
    margin-bottom: 10px; 
    padding: 10px;
    display: flex; 
    flex-direction: column; 
}

.taskTitle {
    margin-left: .5rem; 
    cursor: pointer;
    overflow: hidden;
    max-width: 90%;
}

.taskHeader {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: .3rem; 
}

.taskHeader h3 {
    margin: 0; 
    display: flex; 
    align-items: center;
    flex-grow: 1; 
    text-align: left; 
}


.taskHeader .taskBtnDiv {
    align-self: center; 
    min-width: 8rem;
}

.taskHeader .taskBtnDiv button {
    margin-left: 0.5rem; 
}

.taskHeader input:nth-of-type(1) {
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 1rem;
}

.taskHeader input:nth-of-type(2) {
    height: 2rem;
    width: 80%;
    font-size: 1.1rem;
    padding: .5rem 1rem;
    
}

.taskItem textarea {
    width: 64%;
    height: 8rem;
    margin-left: 2.8rem;
    font-size: 1rem;
    padding: 1rem;
}

.viewBtn, .deleteBtn {
    width: 6rem;
    height: 3rem;
    font-size: 1.1rem;
}

.saveTaskBtn, .cancelTaskBtn {
    width: 10rem;
    height: 3rem;
    margin-right: 2rem;
    font-size: 1.1rem;
}

.saveTaskBtn, .viewBtn {
    background-color: blue;
}

.cancelTaskBtn, .deleteBtn {
    background-color: orangered;
}

.descriptionP {
    cursor: pointer;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    overflow: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease;
    margin: 0;
    padding: 0 1rem;
    text-align: left;
    height: 0; 
}

.opened {
    transform: scaleY(1);
    opacity: 1;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

