nav {
    position: relative;
    background-color: rgb(229, 195, 0);
    width: 95vw;
}

.navToggle {
    display: none;
}

ul {
    margin: 0;
    float: inline-end;
    border-top: .2rem solid rgba(0, 0, 0, 0.556);
    width: 40%;
}

ul li {
    margin-top: .5rem;
}

li {
    text-align: end;
    color: black;
    margin: 1rem 1rem;
    list-style: none;

    a {
        display: inline-block;
    }
}

#passChangeBtn {
    background-color: blue;
}

#passChangeSave {
    background-color: green;
}

#delAccBtn {
    background-color: red;
}

#logoText {
    display: flex;
    color: black;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    text-align: center;
    text-shadow: -5px 5px 25px black;
}

#logoText img {
    box-sizing: border-box;
    border-radius: 5rem;
    margin-right: .5rem;
    height: 2.1rem;
    color: black;
    font-weight: 600;
    box-shadow: -5px 5px 20px black;
}

#logoutLink {
    color: darkred;
}

#burgerBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    line-height: .4rem;
    font-size: 2.5rem;
    background: none;
    text-align: center;
    text-justify: center;
}

a {
    display: block;
    color: black;
    text-decoration: none;
    position: relative;
    padding: .4rem 0;
    font-weight: 700;
    width: fit-content;
}

a:hover {
    color: whitesmoke;
}

a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background: black;
    transition: width .2s;
}

a:hover:after {
    color: white;
    width: 100%;
}


@media (width <=768px) {

    ul,
    li {
        width: 80%;
    }

    #passChangeInput {
        width: 90%;
    }
}

@media (width >=992px) {
    nav {
        width: 98vw;
        padding-bottom: .7rem;
    }

    #burgerBtn {
        display: none;
    }

    .navToggle {
        display: flex;
    }

    ul {
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        border-top: none;
        width: 80%;
        padding-left: 0;
    }

    li,
    #logoText {
        display: inline-block;
    }

    li {
        margin: 0 .5rem;

        a {
            margin: 0 .5rem;
        }
    }


    #logoText,
    #logoText img {
        margin: .3rem .5rem 0 .5rem;
        vertical-align: text-top;
    }
}