.taskAddContainer,
.addTaskDiv {
    align-self: center;
    margin: 1rem;
    width: 50%;


    .addTaskBtn {
        background-color: rgb(229, 195, 0);
        color: black;
        padding: .6rem .6rem;
        border-radius: 1rem;
        border: 2px solid white;
        font-weight: 600;
    }
}

.addTaskBtn {
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
}

.addTaskDiv.popup {
    position: fixed;
    width: 70vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(195, 166, 0);
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 .7rem rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.addTaskDiv.popup textarea[name='title'],
.addTaskDiv.popup textarea,
.addTaskDiv.popup button {
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: .3rem;
    width: 100%;
    box-sizing: border-box;
}


.addTaskDiv.popup textarea[name='title'] {
    height: 15vh;
    font-size: 1.2rem;
}

.addTaskDiv.popup textarea {
    height: 35vh;
    font-size: 1.1rem;
}

.btnPopupDiv {
    display: flex;
    justify-content: space-between;
}

.popupAddBtn,
.popupCancelBtn {
    width: 40%;
    min-height: 3rem;
    margin-right: 1rem;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: .5rem;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.4);

}


.btnPopupDiv .popupAddBtn {
    background-color: blue;
}

.btnPopupDiv .popupCancelBtn {
    background-color: orangered;
    margin-right: 0;
}


@media (width <=992px) {

    .taskAddContainer,
    .addTaskDiv {
        width: 80%;
    }

    .addTaskDiv.popup {
        width: 80vw;
        height: 90vh;
        margin: 0;

        textarea[name='title'] {
            height: 25vh;
            text-align: start;
        }

        textarea {
            height: 55vh;
            margin-bottom: 0;
        }

        .btnPopupDiv {
            margin: 0;
            padding: 0;
        }

        .popupAddBtn,
        .popupCancelBtn {
            min-height: 2rem;
        }
    }
}